body {
    margin: 0;
}


header {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
    padding: 20px;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hire-me {
    border: 1px solid #FFFFFF;
    padding: 10px 20px 10px 20px;
}


main {
    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
    color: white;
    min-height: 100vh;
    padding: 50px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 40px;
}

.content h1 {
    font-size: 70px;
    /* margin-bottom: 20px; */
}

.content p {
    font-size: 24px;
    margin: 0;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}