body {
    display: flex;
    justify-content: center;
    gap: 40px;
}


div {
    border: 3px solid;
    border-image: linear-gradient(to bottom, #FF0000, #00C2FF) 1;
    border-radius: 4px;
    width: 170px;
    height: 145px;
    text-align: center;
}

div img {
    width: 56px;
    height: 56px;
}