/* 1rem = 16px */
.container {
    padding: min(5em, 8%);
    max-width: 400px;
    width: 100%;
    margin: auto;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: clamp(1.8rem, 5vw, 3rem);
}

p {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5em;
}
